body{
  background-color: lightslategrey;
  margin: 4% 3%;
 
}
.container{
  border-radius: 5px;
  background-color: #f4f4f4;
  padding: 40px;
  margin: auto;
}

.container input[type="text"]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  
}

.container input[type="password"]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
#submit{
width: 100%;
background-color: #4CAF50;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
cursor: pointer;
}.name{
  display: flex;
  flex-direction:row;
  width:100%;

}

#lastname{
  margin-left: 5%;
}

h2 {
  margin: -20px auto -10px; 
  background: #f4f4f4;
  width: 120px;
  text-align: center;
}

p{
  width: 100%;
  text-align: center;
}
#extra{
   color: white;
}

#check{
   float: left; 
    margin: 10px 0px; 
}  

hr{
  width: 100%;
}

@media (max-width:500px) {
  body{
      margin: 7% 10%;
  }
  .container{
      border-radius: 5px;
      background-color: #f2f2f2;
      padding: 40px;
      max-width: 600px;
  }
}